* {
  box-sizing: border-box;
}
#mainNav {
  height: 130px;
  opacity: 80%;
}

#main1 {
  background-image: linear-gradient(
      to left,
      rgba(158, 182, 131, 0.5),
      rgba(46, 44, 44, 0.5)
    ),
    url("./assets/img/circuit.png");
}

#mainNav .navbar-nav > li > a {
  font-size: 1.5em;
  color: #f8d374;
  opacity: 100%;
}

#mainNav .navbar-nav > li > a:hover {
  color: black;
}

#mainNav > .container > .nav-brand:hover {
  color: black;
}

#problem {
  padding: 0;
}

.navbar-brand .js-scroll-trigger #hea {
  float: left;
  width: 100%;
}

#hea:hover {
  color: black;
}

#logo {
  float: left;
  margin-top: 20px;
  margin-right: -50px;
}
